//--------------------------------------------------------------
// Styles for [Homepage]
//--------------------------------------------------------------



.js-inview {
	opacity: 0;
	transition: all 1000ms ease;

	&.active {
		opacity: 1;
		margin: 0;
	}
}

.slide-right {
	margin-left: -100%;
}

.slide-left {
	margin-left: 100%;
}

.appear {
	margin-bottom: -20px;
}


.container {
	position: relative;
	z-index: 1;
	max-width: 1000px;
	margin: 0 auto;
}

.overlay {
	background-color: rgba(18, 15, 130, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.homepage {

	h3 {
		font-size: 28px;
		margin: 0;
		text-transform: uppercase;
		font-family: $font-alpha;
		padding-bottom: 20px;
		letter-spacing: 2px;
	}

	p {
		font-size: 16px;
		margin: 0;
		padding: 0;
	}
}

.hero {
	background: url(../img/5.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	min-height: 70vh;


	&__container {
		display: flex;
		align-items: flex-end;
		position: absolute;
		bottom: 0;
	}

	&__left {
		width: 100%;
		line-height: 0;

		img {
			width: 100%;
		}

		@include breakpoint(800px) {
			width: 800px;
		}
	}

	&__right {
		color: $white;
		display: none;

		@include breakpoint(800px) {
			display: block;
		}
	}
}


.about {
	padding: 40px 0;

	@include breakpoint(800px) {
		padding: 100px 0;
	}

	.js-rotating-words {
		display: none;
		opacity: 0;
		transition: all 300ms ease;

		&.active {
			display: inline;
			opacity: 1;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__intro {
		text-align: center;
		padding-bottom: 20px;

		h1 {
			text-transform: uppercase;
			color: $color-charlie;
			font-size: 40px;
			padding-bottom: 20px;
		}

		h3 {
			display: inline;
		}
	}

	
	&__left {
		width: 100%;
		padding: 10px 0;

		@include breakpoint(800px) {
			width: 70%;
			padding-right: 20px;
		}
	}

	&__right {
		width: 100%;
		padding: 10px 0;

		@include breakpoint(800px) {
			width: 30%;
			padding-left: 20px;
		}

		img {
			width: 100%;
		}
	}

	&__cta {
		padding-top: 40px;
		text-align: center;

		h3 {
			padding-bottom: 20px;

			span {
				color: $color-charlie;
			}
		}
	}
	
}


.sub-hero {
	padding: 80px 0;
	background-color: $color-beta;

	@include breakpoint(800px) {
		padding: 100px 0;
	}

	h3 {
		padding-bottom: 40px;
	}


	i {
		font-size: 30px;
		padding-right: 10px;
	}

	&__icon {
		display: flex;
		align-items: stretch;
	}

	&__line-item {
		display: block;
		padding: 10px 0;

		i, p {
			display: inline-block;
		}
	}
}


.customers {
	padding: 40px 0 100px;

	@include breakpoint(800px) {
		padding: 100px 0;
	}

	&__header {
		padding-bottom: 20px;

		h3 {
			padding-bottom: 20px;	
		}
	}

	&__testimonials {
		padding-bottom: 40px;

		.slick-dots {
			li {
				background-color: $color-charlie;
				transition: all 600ms ease;
				border-radius: 100%;
				height: 15px;
				width: 15px;

				&.slick-active {
					background-color: $color-alpha;
				}

				button {
					&:before {
						color: transparent;
					}
				}
			}
		}
	}

	&__testimonial {
		text-align: center;
	}

	&__logos {
		padding: 0 0 40px 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		width: 20%;
		max-width: 150px;
		padding: 2%;
	}
}	



.services {
	padding: 40px 0 30px;
	background-color: $color-beta;

	@include breakpoint(800px) {
		padding: 100px 0;
	}

	&__header {
		padding-bottom: 60px;

		h3 {
			padding-bottom: 20px;	
		}
	}
	

	&__icons {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}

	&__icon {
		width: 20%;
		text-align: center;
		padding-bottom: 15px;

		i {
			font-size: 80px;
			color: $color-charlie;
		}

		h6 {
			font-size: 16px;
			padding: 0 10px;
		}
	}

	&__cta {
		text-align: center;
		padding-top: 10px;
	}
}

.products {
	padding: 40px 0;

	@include breakpoint(800px) {
		padding: 100px 0;
	}

	&__header {
		padding-bottom: 60px;

		h3 {
			padding-bottom: 20px;	
		}
	}
	

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&:nth-child(odd) {
			flex-direction: row-reverse;
		}
	}

	&__left {
		width: 100%;
		text-align: center;
		padding: 20px 0;

		@include breakpoint(800px) {
			width: 50%;
			padding: 0 0 0 20px;
			text-align: left;
		}
	}

	&__right {
		width: 100%;
		text-align: center;
		padding: 20px 0;

		@include breakpoint(800px) {
			width: 50%;
			padding: 0 20px 0 0;
			text-align: right;
		}
	}
}

.contact {
	padding: 40px 0;
	background-color: $color-beta;

	@include breakpoint(800px) {
		padding: 100px 0;
	}

	&__header {
		padding-bottom: 60px;

		h3 {
			padding-bottom: 20px;	
		}
	}

	input,
	textarea {
		width: 100%;
		padding: 8px;
		outline: 0;
		border: 0;
		margin-top: 5px;
	}

	p {
		padding-bottom: 20px;
	}

	label {
		font-size: 14px;
	}

	input[type='submit'] {
		background-color: $color-charlie;
		border: 2px solid $color-charlie;
		color: $white;
		padding: 8px 42px;
		transition: all 600ms ease;
		text-transform: uppercase;
		display: inline-block;
    	width: auto;

		&:hover {
			border-color: $color-alpha;
			color: $color-alpha;
			background-color: transparent;
		}
	}

}